body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
ul#Menu
{
	font-weight: 600;
	font-size: 14px;
}
input[type="text"]
{
	width: 250px;
}
select
{
	min-width: 250px;
}
table#SessionResultTable th, table#SessionResultTable td
{
	vertical-align: bottom;
}